{% extends "blog/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Faça o seu login</h1>
    {% if form.errors %}
        <p>
            Seu nome de usuário e senha não correspondem.
            Por favor, tente novamente
        </p>
    {% else %}
        <p>Por favor, use o seguinte para fazer login</p>
        <p>Se você não tem uma conta <a href="{% url 'blog:register' %}">Cadastre-se </a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'blog:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Fazer login"></p>
        </form>
        <p class="password_text"><a class="password_reset" href="{% url 'blog:password_reset' %}"> Esqueci a senha</a></p>
    </div>
{% endblock %}