{% block title %} Altere sua senha {% endblock %}

{% block content %}
    <h1>Mude sua senha</h1>
    <p>Use o formulário abaixo para alterar sua senha</p>
    <span>
        {% if request.user.is_authenticated %}
            <div class="user-name">Olá, {{ request.user.first_name }}</div>
            <a class='button-logout' href="{% url 'blog:logout' %}">Logout</a>
        {% else %}
            <a class='button-login' href="{% url 'blog:login' %}">Login</a>
        {% endif %}
    </span>
    <a href="{% url 'blog:post_list' %}">Voltar</a>
    <form method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
    </form>
{% endblock %}

# Alterar o html da pagina