h1 {
    font-weight:normal;
    border-bottom: 3px solid #00abff;
    padding:0 0 10px 0;
    font-family: Arial, sans-serif;
}

p {
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    font-family: Arial, sans-serif;
}

input {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
    width: 200px
}

label {
    clear: both;
    float: left;
    color: #333;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.button {
    background-color: #00abff;
    position: relative;
    top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}

li {
    position: relative;
    top: 270px;
    list-style-type: none;
    padding-left: 200px;
    right: 240px;
    font-family: Arial, sans-serif;
}

.button-menu {
    position: relative;
    bottom: 100px;
    left: 280px;
    background-color: #00abff;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration:none;


}

