body {
    margin: 10px !important;
}

h1 {
    font-weight:normal;
    border-bottom: 3px solid #007BFF;
    padding:0 0 10px 0;
    font-family: Arial, sans-serif;
}

p {
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    font-family: Arial, sans-serif;
}

input {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
    width: 200px
    left: 100px;

}

label {
    clear: both;
    float: left;
    color: #333;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.button {
    background-color: #007BFF;
    position: relative;
    top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    width: 240px;
}

li {
    position: relative;
    top: 320px;
    list-style-type: none;
    padding-left: 200px;
    right: 240px;
    font-family: Arial, sans-serif;
}


.btn-group {
    bottom: 60px;
    left: 340px;
}

